
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado</h2>

<h1>Nombre: @ViewBag.Nombre</h1>
<h1>Laboratorio 1: @ViewBag.lab1 </h1>
<h1>Laboratorio 2: @ViewBag.lab2</h1>
<h1>Laboratorio 3: @ViewBag.lab3</h1>
<h1>Parcial 1: @ViewBag.par1</h1>
<h1>Parcial 2: @ViewBag.par2 </h1>
<h1>Parcial 3: @ViewBag.par3 </h1>

